* {
  align-content: center;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: slategrey;
  font-family: 'Anton', sans-serif;
  font-family: 'Istok Web', sans-serif;
}

.home {
  background-color: mistyrose;
  color: slategrey;
  border-radius: 5px 5px 20px 20px;
  padding: 10px 15px;
  text-align: center;
  margin: 0px 60px 60px 60px;
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  display: inline-block;
}

h1 {
  text-align: center;
  margin-right:200px;
  margin-left: 200px;
  color: slategrey;
  font-family: 'Istok Web', sans-serif;
  background-color: mistyrose;
  padding: 20px;
  border-radius: 30px;
}


img {
  text-align: center;
  color: slategrey;
  font-family: sans-serif;
  background-color: white;
  padding: 20px;
  width: 100%; max-width: 800px;
  display: inline-block;
}

img:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari and Chrome */

}

.everything {
  align-content: center;
  align-items: center;
  text-align: center;
}
.row {
  display: flex;
  align-content: center;
  margin: 0 auto;
  text-align: center;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  align-content: center;
  color: white;
  text-align: justify;
  width: 50%;
  max-width: 300px;
  flex: 33.33%;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 12px;
  float: left;
  display: inline-block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

When you mouse over the container, fade in the overlay title
.container:hover .overlay {
  opacity: 1;
}*/

a.back:link, a.back:visited {
  background-color: mistyrose;
  color: slategrey;
  border-radius: 20px 5px 5px 20px;
  padding: 10px 15px;
  text-align: center;
  margin-left: 60px;
  float:left;
  text-decoration: none;
  display: inline-block;
}

a.next:link, a.next:visited {
  background-color: mistyrose;
  color: slategrey;
  border-radius: 5px 20px 20px 5px;
  padding: 10px 15px;
  text-align: center;
  margin-right: 40px;
  float:right;
  text-decoration: none;
  display: inline-block;
}


footer {
  padding: 85px 0px 50px 0px;
  text-align: center;

}
