* {
  align-content: center;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Istok Web', sans-serif;
  grid-template-rows:    repeat(4, 100px);
grid-template-columns: repeat(3, 1fr);
}

.home {
  background-color: #1B2A49;
  color: #253453;
  border-radius: 5px 5px 20px 20px;
  padding: 10px 15px;
  text-align: center;
  margin: 0px 60px 60px 60px;
  text-decoration: none;
  float: right;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: repeat(13,400px);
}

h1 {
  text-align: center;
  color: darkseagreen;
  font-family: 'Istok Web', sans-serif;
}

h2 {
  text-align: center;
  margin: 0 auto;
  color: darkseagreen;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Istok Web', sans-serif;
}
p{
color:#2B3C60;
padding: 40px;
transition-property: color;
transition-duration: .5s;
transition-delay: 400ms;
transition-timing-function: ease-out;
cursor: pointer;
}

p:hover {
  color: white;
}

.A {
  grid-column-start: 1;
  grid-row-start: 1;
}

.B {
  grid-column-start: 3;
  grid-row-start: 2;
}

.C {
  grid-column-start: 5;
  grid-row-start: 3;
}

.D {
  grid-column-start: 4;
  grid-row-start: 4;
}

.E {
  grid-column-start: 5;
  grid-row-start: 5;
}

.F {
  grid-column-start: 1;
  grid-row-start: 6;
}

.G {
  grid-column-start: 2;
  grid-row-start: 6;
}

.H {
  grid-column-start: 3;
  grid-row-start: 6;
}

.I {
  grid-column-start: 4;
  grid-row-start: 6;
}

.J {
  grid-column-start: 1;
  grid-row-start: 7;
}

.K {
  grid-column-start: 2;
  grid-row-start: 8;
}

.L {
  grid-column-start: 1;
  grid-row-start: 9;
}

.M {
  grid-column-start: 2;
  grid-row-start: 10;
}

.N {
  grid-column-start: 3;
  grid-row-start: 12;
}

.O {
  grid-column-start: 4;
  grid-row-start: 13;
}

.P {
  grid-column-start: 1;
  grid-row-start: 7;
}

.buttons{
  text-align: center;
  margin: 0 auto;
  font-family: 'Istok Web', sans-serif;

}

.option{
  background-color: #CCCCFF;
  width: 170px;
  color: #4A235A;
  font-family: 'Istok Web', sans-serif;
  border: 2px solid #5B2C6F;
  border-radius: 20px;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
}

a.option:hover, a.option:active {
  background-color: white;
  color: darkseagreen;
  border: 2px solid darkseagreen;
}





}
