* {
  align-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.home {
  background-color: DarkSeaGreen;
  color: white;
  border-radius: 5px 5px 20px 20px;
  padding: 10px 15px;
  text-align: center;
  margin: 0px 60px 60px 60px;
  text-decoration: none;
  display: inline-block;
}

.option{
  background-color: peru;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
}

a.option:hover, a.option:active {
  background-color: white;
  color: peru;
  border: 2px solid peru;
}



.buttons{
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: white;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  margin: 0 auto;
  color: black;
  margin: 0 auto;
  font-size: 24px;
  font-family: serif;
  padding: 20px;
}

.patterndiv {
  margin-left: 60px;
  padding: 0;
  align-content: center;


}
.centerimg {
  text-align: center;
  margin: 0 auto;
  color: white;
  margin: 0 auto;}

.middlep {
  background-color: pink;
  width: 700px;
  inline-block: vertical-align;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 30px;
}

a.back:link, a.back:visited {
  background-color: CadetBlue;
  color: white;
  border-radius: 20px 5px 5px 20px;
  padding: 10px 15px;
  text-align: center;
  margin-left: 60px;
  float:left;
  text-decoration: none;
  display: inline-block;
}

a.next:link, a.next:visited {
  background-color: CadetBlue;
  color: white;
  border-radius: 5px 20px 20px 5px;
  padding: 10px 15px;
  text-align: center;
  margin-right: 40px;
  float:right;
  text-decoration: none;
  display: inline-block;
}


footer {
  padding: 85px 0px 50px 0px;
  text-align: center;

}
