* {
  align-content: center;
  padding: 0;
  box-sizing: border-box;

}
h1 {
  margin: 0 auto;
  color: purple;
  margin: 0 auto;
}

.middlep {
  background-color: lavender;
  width: 400px;
  inline-block: vertical-align;
  margin: 0 auto;

}
